h1{
    size: 24px;
    align-content: center;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('img/background.JPEG');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

i {
    align-content: center;
    font-size: xx-large;
    color: black;
}

.lines {
    line-height: 75%;
}


 .card {
     padding: 8px;
     background: rgba(243, 241, 241, 0.6);
     
 }

#list-group-item {
    background: rgba(243, 241, 241, 0.6);
 }

 .position {
     font-size: 20px;
 }

 em {
     font-weight: bold;
     font-style: normal;
 }

 img {
     height: 250px;
     width: 500px;
 }

 figure {
    display: inline-block;
    
 }

 figcaption{
     text-align: center;
 }
 

